	<div class="footer">
		<p class ='text'>Created By Max Graef</p>
  	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="../resources/js/my_scripts.js"></script>
	
</body>
</html>