.jumbotron {
	background-color: #000000;
	color: #fff;
	padding: 100px 25px;
  }
  
.text {
    color: white;
    font-weight: 400;
    font-family: "Lucida Console", "Courier New", monospace;
}

.link{
  color: red;
}

.footer {
  padding-top: 20rem;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.container{
  padding-bottom: 30mm;
  background-color: #000000;
}


.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/*.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
} */