<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1><a class = "text"  href="/main">Non-Fungible Galaxy</a></h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4><a class = "blackHole"  href="/black-holes">Black holes</a> are regions of space where gravity is so strong that not even light can escape.
			Black holes form when an object's gravitational force is so large, that it overcomes <a class = "whiteDwarf"  href="/white-dwarfs">electron</a> and <a class = "neutron"  href="/neutron-stars">neutron</a> degeneracy pressure.
			This gravitational force is reached if a stellar remnant exceeds about 4 solar masses. This is known as the <span style="color: rgb(247, 111, 0);">Tolman–Oppenheimer–Volkoff limit</span>.
			<br>
			<br>
			The edge in which light cannot escape a black hole is known as the <span style="color: rgb(247, 0, 136);">event horizon</span>. They are always spherical. Anything that passes the event horizon
			can no longer be obeserved. 
			<br>
			<br>
			There are many sizes of black holes. Those with masses millions to billions of times the mass of the Sun are known as <span style="color: rgb(192, 105, 243);">supermassive</span> black holes. 
			It is obeserved that about every large galaxy has a supermassive black hole at the center. The Milky Way galaxy has a supermassive black hole at its galactic center. 
			It is located at a place called Sagittarius A*.
			<br>
			<br>
			It is impossible to detect, but there may be millions of black holes in the Milky Way. 
			Sagittarius A* is the only black hole in the NFG. See it below.   
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/nfg001-earth.gif" alt="test" style="width: 30rem;">
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="text">
		<h2 class="blackHole">Black Holes</h2>
	</div>
	<div id="Black-Hole"></div>
</div>


<% include ../partials/footer %>