<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-8">
				<div class="jumbotron">
				  <h1 class="display-4">Welcome to Non Fungible Galaxy!!</h1>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>