<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1><a class = "text"  href="/main">Non-Fungible Galaxy</a></h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-super-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-lg-6 col-md-6">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4>
			A star is a large cluster of gas that has collapsed under its own <span style="color: #00b7ff">gravity</span>. The force of a star's gravity is so strong, that hydrogen atoms 
			are forced together to create helium atoms. This process is called <span style="color: #018648">nuclear fusion</span>. When these atoms combine, they release lots of energy and create
			a lot of heat. The super hot core where the <span style="color: #018648">fusion</span> takes place creates an immense outward pressure. In a <a class = "mainSequence"  href="/main-sequence">main sequence star</a>,
			this outward pressure counteracts the inward force from <span style="color: #00b7ff">gravity</span> and puts the star in a state of equilibrium.
			<br> 
			<br>	
			Stars are classified based upon their luminosity and color. Their color is directly related to their temperature. Astronomers use something called a
			Hertzsprung-Russell diagram in order to see relationships between different stars. On these diagrams, color/temperature is usually shown on the x axis, while luminosity is
			on the y axis.
			<br>
			<br>
			<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a> are stars that are part of the main sequence band on a Hertzsprung-Russell diagram.
			Most stars in the universe are currently part of the main sequence. As stars age, they move away from the main sequence and become things like,
			<a class = "redGiant"  href="/red-giants">Red Giants</a>, <a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a>, <a class = "blackHole"  href="/black-holes">Black Holes</a>,
			and more!
			<br>
			<br>
			The Sun is currently a main sequence star and will remain on the main sequence for about 5 billion more years. Once it uses up all of its hydrogen fuel, it will become a <a class = "redGiant"  href="/red-giants">Red Giant</a>.
			Below you can see the main sequence stars in the NFG and view their traits such as luminosity and temperature!
			</h4>
		</div>
	  </div>
	  <div class="col-sm-6 col-lg-6 col-md-6">
		<img src="../../resources/img/fusion.gif" alt="test" style="width: 30rem;">
		<img src="../../resources/img/HRDiagram.png" alt="test" style="width: 50rem;">
		<div class="text-center" style='color: white;'style= 'font-weight: 400;' style=' font-family: "Lucida Console", "Courier New";'>
		<p>By Richard Powell - The Hertzsprung Russell Diagram, CC BY-SA 2.5, <a class = "whiteDwarf"  href="https://commons.wikimedia.org/w/index.php?curid=1736396">https://commons.wikimedia.org/w/index.php?curid=1736396</a>
		</p>
		</div>
	  </div>
	</div>
  </div>

<div class="container">
	<div class="text">
		<h2>Main Sequence Stars</h2>
	</div>
	<div id="Main-Sequence-Star"></div>
</div>



<% include ../partials/footer %>