<% include ../partials/header %>
<% include ../partials/menu %>
<div class="jumbotron text-center">
	<h1>Non-Fungible Galaxy</h1>
	<p>Solar system collection coming soon.</p>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>      
			<h4>Non-Fungible Galaxy is a collection of NFTs designed to be traded on OpenSea. 
			There are different types of NFGs that include Planets, Stars, Black Holes, Asteroids, and more!
			This site is a hub for learning about the different types of NFGs and has information about the actual objects which float around our galaxy.
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/testimage.jpg" alt="test">
	  </div>
	</div>
  </div>


<% include ../partials/footer %>