<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1><a class = "text"  href="/main">Non-Fungible Galaxy</a></h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4><a class = "neutron"  href="/neutron-stars">Neutron stars</a> are the collapsed cores of supergiant stars with masses between 10 and 25 solar masses.
			In a supernova, the outer layers of these cores are blown off. What is left is a very small but extremely dense core that continued to collapse 
			due to the intense gravity. The gravity is so insanely strong that the protons and electrons combine together to make neutrons.
			<br>
			<br>
			The neutron star also rotates from the force of the supernova. Some neutron stars have streams of mass blasting out of the sides at nearly the speed of light.
			These rotating beams of light are called <span style="color: rgb(160, 247, 0);">pulsars</span>.
			<br>
			<br>
			Neutron stars are incredibly small and can have diameters close to 20 kilometers. They have a mass of about 1.4 solar masses meaning that they 
			are the densest known stellar objects. Just a teaspoon full of neutron star would weigh billions of kilograms. 
			<br>
			<br>
			See the Neutron stars in the NFG below!
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/nfg001-earth.gif" alt="test" style="width: 30rem;">
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="text">
		<h2 class="neutron">Neutron Stars</h2>
	</div>
	<div id="Neutron-Star"></div>
</div>



<% include ../partials/footer %>