<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1><a class = "text"  href="/main">Non-Fungible Galaxy</a></h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-super-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4>Planets are objects in our universe that are large enough to round themselves due to the force of their own gravity, but they are not large enough
				to initiate fusion in their cores. You're living on one!
			<br>
			<br>
			Our Solar System officially contains 8 planets (sorry Pluto). The four closest to the Sun are terrestrial planets, meaning that they have a solid surface
			and are made up of mostly rock or metal. 
			<br>
			<br>
			Jupiter, Saturn, Uranus, and Neptune are all gas giants. These planets are primarily made of hyrdrogen and helium (Which is also what stars are made of for most of their lives).
			<br>
			<br>
			There are thousands of planets that have been discovered in the Milky Way Galaxy and probably many thousands more that haven't been. The planets outside 
			of our Solar System are called exoplanets.
			<br>
			<br>
			Here you can see the traits of different planets in the NFG. 
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/nfg001-earth.gif" alt="test" style="width: 30rem;">
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="text">
		<h2>Planets</h2>
	</div>
	<div id="Planet"></div>
	<div id="Dwarf-Planet"></div>
</div>

<% include ../partials/footer %>