<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1>Non-Fungible Galaxy</h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-super-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4>Non-Fungible Galaxy (NFG) is a collection of NFTs designed to be traded on <a class = "link" href="https://opensea.io/collection/non-fungible-galaxy/">OpenSea</a>. 
			<br>
			<br>
			There are different types of NFG items that include Planets, Stars, Black Holes, Asteroids, and more! 
			<br>
			<br>
			Each item is a 64x64 gif enlarged to 640x640 with 8 frames playing at 150ms per frame. All are unique and are renditions of actual objects floating around our galaxy.
			<br>
			<br>
			This site is a hub for exploring the items in the NFG and learning more about their real life counterparts! Click on the links at the top to learn more about them!
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/nfg001-earth.gif" alt="test" style="width: 30rem;">
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="text">
		<h2>Red Giant Stars</h2>
	</div>
	<div id="Red-Giant"></div>
</div>


<% include ../partials/footer %>