<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1><a class = "text"  href="/main">Non-Fungible Galaxy</a></h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4> After a <a class = "mainSequence"  href="/main-sequence">main sequence star</a> uses all of its hydrogen fuel, it becomes a <a class = "redGiant"  href="/red-giants">Red Giant</a>.
			When stars of about 0.3 to 8 solar masses exhaust their supply of hydrogen fuel, their core contracts due to the star's gravity. This causes hydrogen
			to start fusing in a shell around the core.
			<br>
			<br>
			The contraction of the core causes the outer layers of the star to expand. As the outer layers expand, they cool down because there is more
			area for the heat to spread out. As the outer layer cools down, its color becomes more and more red. 
			The denser core becomes even hotter than before, and will start fusing helium into carbon.
			<br>
			<br>
			Red giants are not hot enough to fuse carbon, so the core will once again contract and release lots of energy which ejects the 
			outer layers. The core eventually cools and becomes a <a class = "whiteDwarf"  href="/white-dwarfs">white dwarf</a>.
			This white dwarf surrounded by the ejected layers of gas and dust is known as a <span style="color: darkseagreen;">planetary nebula</span>.
			<br>
			<br>
			Stars with 8 to 30 solar masses may become what is known as a <a class = "redSuperGiant"  href="/red-giants">red super giant.</a> In the core of a red super giant,
			elements continue to fuse together until an iron core is formed and fusion can no longer continue. Red super giants are cool but extremely luminous due to their
			large size. A red super giant's core eventually will succumb to its own gravity and collapse, creating a violent explosion known as a <span style="color: darkmagenta;">supernova</span>.
			<br>
			<br> 
			See the red giants and supergiants in the NFG below!
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/nfg001-earth.gif" alt="test" style="width: 30rem;">
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="text">
		<h2 class="redGiant">Red Giant Stars</h2>
	</div>
	<div id="Red-Giant"></div>
</div>

<div class="container">
	<div class="text">
		<h2 class="redSuperGiant">Red Super Giant Stars</h2>
	</div>
	<div id="Red-Super-Giant"></div>
</div>


<% include ../partials/footer %>