<% include ../partials/header %>
<% include ../partials/menu %>

<body style="background-color: black;" onload="loadByType();"></body>

<div class="jumbotron text-center">
	<div class="text">
		<h1><a class = "text"  href="/main">Non-Fungible Galaxy</a></h1>
		<div class="link">
			<h3><a class = "planet" href="/planets">Planets</a> 
				<a class = "mainSequence"  href="/main-sequence">Main Sequence Stars</a>
				<a class = "redGiant"  href="/red-giants">Red Giants</a>
				<a class = "redSuperGiant"  href="/red-giants">Red Super Giants</a>
				<a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> <br>
				<a class = "neutron"  href="/neutron-stars">Neutron Stars</a>
				<a class = "blackHole"  href="/black-holes">Black Holes</a>
				<a class = "asteroid"  href="/asteroids">Asteroids</a>
			</h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-sm-8">
		<div class="text">
			<h2>About</h2>
			<br>      
			<h4> <a class = "whiteDwarf"  href="/white-dwarfs">White Dwarfs</a> are the remaining cores of <a class = "redGiant"  href="/red-giants">red giants</a>. 
			These cores are extremely dense and very hot. Their temperatures can exceed 100,000 K. 
			<br>
			<br>
			Inside a white dwarf fusion has stopped, so there isn't any more outward pressure. The inward force of gravity is so great, that the <span style="color: yellow;">electrons</span> in the dwarf's 
			atoms get crushed together. The energy levels in the atoms get completely full of electrons and the gas becomes "<span style="color: rgb(160, 247, 0);">degenerate</span>." The force of gravity tries to fill these energy levels further,
			but it is not strong enough.
			<br>
			<br>
			There is a limit for the size a white dwarf can be known as the <span style="color: rgb(255, 153, 0);">Chandrasekhar limit</span>. This limit is about 1.4 times the mass of the Sun. This is the maximum mass that electron degeneracy pressure can resist gravity.
			Any white dwarf with less than this mass will stay a white dwarf forever and will cool down over many billions of years.
			<br>
			<br>
			If a white dwarf exceeds this the Chandrasekhar limit, it will collapse and explode in a <span style="color: darkmagenta;">supernova</span>. The remnants of this explosion will either become a 
			<a class = "neutron"  href="/neutron-stars">neutron star</a> or a <a class = "blackHole"  href="/black-holes">black hole</a>.
			<br>
			<br>
			See the white dwarfs in the NFG below!
			</h4>
		</div>
	  </div>
	  <div class="col-sm-4">
		<img src="../../resources/img/placeholder-export.png" alt="test" style="width: 30rem;">
	  </div>
	</div>
  </div>

<div class="container">
	<div class="text">
		<h2 class="whiteDwarf">White Dwarfs</h2>
	</div>
	<div id="White-Dwarf"></div>
</div>


<% include ../partials/footer %>